---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="flex justify-center items-center h-screen">
      <a href="/referral" class="bg-blue px-8 py-5 rounded-xl text-white">Referral </a>
    </div>
  </body>
</html>
